# Node
.git/
node_modules
apps/**/node_modules
.next
out
dist
apps/telegram-bot/data/*.csv
apps/telegram-bot/data/*.json
*.log
.DS_Store

# TypeScript build info
*.tsbuildinfo

# Env
.env*
!.env.example
